@{
    ViewData["Title"] = "Joke Website";
}

<h2>Welcome to the Joke Website</h2>
<p>Select an option:</p>
<ul>
    <li><a href="@Url.Action("JokesList", "Joke")">View 10 Jokes</a></li>
    <li><a href="@Url.Action("RandomJoke", "Joke")">View a Random Joke</a></li>
</ul>
